@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background-color: #1fdb6a;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.navbar-shrink {
  padding: 40px 0;
  box-shadow: inset 0 0 30px 15px #03afff;
}
@media (max-width: 550px) {
  .navbar-shrink .nav--brand__list {
    transform: translateY(30px);
  }
  .navbar-shrink .nav--brand__list__active {
    transform: translate(160px, 200px);
  }
}

#backtop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  box-shadow: inset 0 0 15px 5px #03afff, 0 0 15px 5px #03afff;
  z-index: 30;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 10px;
  transition: 0.5s;
  opacity: 0;
}

.backtop-show {
  opacity: 1 !important;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 21, 119);
  z-index: 11111;
}

.loading-none {
  z-index: -222;
}

.loader {
  width: 30%;
  height: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.15);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
  background-size: 15px 15px;
  z-index: 10;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  width: 0%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 0 4px 4px 0;
  top: 0;
  left: 0;
  animation: animFw 10s ease-in infinite;
}
@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 19px 0;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
  z-index: 1111;
  transition: 0.5s;
}

.head--body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
@media (max-width: 1030px) {
  .head--body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
  }
}

.nav--brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 55%;
}
@media (max-width: 1030px) {
  .nav--brand {
    width: 100%;
  }
}
.nav--brand__humburger {
  position: relative;
  z-index: 3;
}
.nav--brand__humburger svg {
  fill: #524b9a;
}
.nav--brand__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  transition: 1s;
}
@media (max-width: 550px) {
  .nav--brand__list {
    position: fixed;
    left: -150px;
    top: -170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    padding: 30px 50px 20px 50px;
    box-shadow: 0 0 5px 5px #f55f39;
    border-radius: 5px;
    background-color: transparent;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    z-index: 2;
  }
  .nav--brand__list__active {
    box-shadow: 0 0 5px 5px #f55f39, inset 0 0 25px 0 #1fdb6a;
    transform: translate(156px, 170px);
    color: #929292 !important;
  }
}
.nav--brand__link {
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  padding: 15px 10px;
}
.nav--brand__link:hover {
  border-bottom: 1px solid #f55f39;
}
.nav--brand a {
  position: relative;
  transform: scale(2.4) translateY(6px);
}
@media (max-width: 1030px) {
  .nav--brand a {
    transform: scale(1.5) translateX(-10px);
  }
}

.hform {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 0;
  max-width: 390px;
}
@media (max-width: 390px) {
  .hform {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 0;
  }
}
.hform--label {
  position: relative;
  border-radius: 3px 0 0 3px;
  border: 1px solid #d9d9d9;
}
.hform--label svg {
  position: absolute;
  top: 13px;
  left: 11px;
  fill: #d9d9d9;
  width: 20px;
  height: 15px;
}
.hform--input {
  outline: none;
  border: none;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding: 10px 0 11px 40px;
  transition: 0.5s;
  height: 100%;
}
.hform--input::-moz-placeholder {
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.hform--input::placeholder {
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.hform--input:focus {
  box-shadow: inset 255px 0 5px #2bca8b;
}
.hform--button {
  border-radius: 0 3px 3px 0;
  height: 45px;
  padding: 10px 43px;
  background-color: #b8bdc9;
  color: #e0e0e0;
  outline: none;
  border: none;
  transition: 1s;
}
.hform--button:hover {
  box-shadow: inset 255px 0 5px #252061;
}

.hero {
  background: url("../images/hero--bg.png") no-repeat;
  background-size: cover;
  padding: 245px 0 165px;
}
.hero--body {
  margin-left: 145px;
  max-width: 610px;
}
@media (max-width: 720px) {
  .hero--body {
    margin: 0;
  }
}
.hero--body__title {
  color: #444444;
  font-size: 49px;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
}
@media (max-width: 464px) {
  .hero--body__title {
    color: #444444;
    font-size: 30px;
    font-weight: 400;
    line-height: 55px;
    text-align: left;
  }
}
.hero--body__title span {
  color: #2bca8b;
  border-bottom: 2px solid #2bca8b;
}
.hero--body__text {
  color: #444444;
  font-size: 19px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  margin-bottom: 85px;
}
.hero--body__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
@media (max-width: 470px) {
  .hero--body__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  }
}
.hero--body__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #f55f39;
  padding: 8px 25px 1px 30px;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.hero--body__link:hover {
  box-shadow: inset 0 0 0 2px #fff;
}
.hero--body__link span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.hero--body__link:nth-child(2) {
  background-color: #fff;
  padding: 8px 25px 1px 30px;
  color: #4d4d4d;
}
.hero--body__link:nth-child(2):hover {
  box-shadow: inset 0 0 0 2px #f55f39;
}
.hero--body__link:nth-child(2) span {
  color: #4d4d4d;
}

.help {
  position: relative;
  background-color: #fff;
  padding: 52px 0 56px;
}
.help--body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 70px;
  max-width: 630px;
}
@media (max-width: 415px) {
  .help--body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
  }
}
.help--body__title {
  color: #2bca8b;
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
  text-align: left;
}
.help--body__text {
  color: #252061;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.help--card {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 37px 109px 39px 45px;
  max-width: 500px;
  box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, 0.4);
  background: url("../images/footer--bg.png") no-repeat;
  background-size: cover;
}
@media (max-width: 485px) {
  .help--card {
    padding: 40px;
  }
}
@media (max-width: 415px) {
  .help--card {
    display: none;
  }
}
.help--card__title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin-bottom: 25px;
}
.help--card__text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin-bottom: 19px;
}
.help--card__bottom {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 80px;
}
.help--card__image {
  position: absolute;
  top: -30px;
  z-index: 1;
  left: -35px;
}
.help--card__image:nth-child(2) {
  left: 15px;
  top: -18px;
  z-index: 2;
}
.help--card__image:nth-child(3) {
  left: 80px;
  z-index: 1;
}
.help--card__link {
  top: 12px;
  left: 184px;
  background-color: #2bca8b;
  padding: 12px 15px;
  color: #fff;
  box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.4);
}

.blog {
  background-color: #fff;
}
.blog--body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  padding: 48px 0 547px;
}
.blog--body__title {
  color: #444444;
  font-size: 52px;
  font-weight: 400;
  line-height: 49px;
  text-align: left;
  margin-right: auto;
  max-width: 500px;
}
.blog--body__title span {
  color: #f55f39;
  padding-bottom: 8px;
  border-bottom: 4px solid #f55f39;
}
.blog--body__bottom {
  position: absolute;
  bottom: -213px;
  width: 100%;
  height: 660px;
  z-index: 2;
  background: url("../images/blog--bottom.png");
  background-position: center;
  box-shadow: 14px 14px 80px 0px rgba(0, 0, 0, 0.4);
}
.blog--main {
  display: grid;
  grid-template: 1fr/repeat(2, auto);
  gap: 30px;
}
@media (max-width: 1030px) {
  .blog--main {
    grid-template: repeat(2, auto)/1fr;
    gap: 80px;
  }
}
.blog--main__cardbig {
  position: relative;
  width: 534px;
  height: 675px;
  background: url("../images/blog--bigcrd.png") no-repeat;
  background-size: cover;
}
@media (max-width: 1030px) {
  .blog--main__cardbig {
    width: auto;
  }
}
.blog--main__cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1030px) {
  .blog--main__cards {
    align-items: center;
  }
}
.blog--cardbig {
  position: absolute;
  bottom: -33px;
  left: 0;
  max-width: 427px;
  padding: 27px 50px 0 0;
  background-color: #fff;
}
@media (max-width: 420px) {
  .blog--cardbig {
    width: auto;
  }
}
.blog--cardbig h3 {
  color: #252061;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  max-width: 314px;
}
.blog--cardbig p {
  color: #969696;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin: 13px 0 15px;
  max-width: 377px;
}
.blog--cardbig__user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.blog--cardbig__username {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1px;
}
.blog--cardbig__username span {
  color: #252061;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.blog--smallcard {
  width: 376px;
  height: 240px;
}
@media (max-width: 420px) {
  .blog--smallcard {
    width: 100%;
  }
}
.blog--smallcard:nth-child(1) {
  background: url("../images/blog--small-crd_1.png") no-repeat;
  background-size: cover;
}
.blog--smallcard:nth-child(2) {
  position: relative;
  background: url("../images/blog--small-crd_2.png") no-repeat;
  background-size: cover;
}
.blog--smallcard__in {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  width: calc(100% - 75px);
  background-color: #fff;
}
.blog--smallcard__in span {
  color: #929292;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin-left: 17px;
}
.blog--smallcard__in p {
  max-width: 222px;
  color: #252061;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.blog--smallcard__bottom {
  background: url("../images/footer--bg.png") no-repeat;
  background-size: cover;
  padding: 45px 0 40px 60px;
}
.blog--smallcard__bottom h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.blog--smallcard__bottom p {
  margin: 26px 0 19px;
  max-width: 208px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.blog--smallcard__bottom a {
  color: #f55f39;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.blog--bottom {
  position: absolute;
  bottom: 14px;
  left: 0;
  background-color: #352f77;
  max-width: 530px;
  padding: 50px;
}
@media (max-width: 482px) {
  .blog--bottom {
    padding: 20px;
  }
}
.blog--bottom h2 {
  color: #fff;
  font-size: 44px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
}
@media (max-width: 482px) {
  .blog--bottom h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
  }
}
.blog--bottom p {
  margin: 22px 0 55px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.blog--bottom a {
  position: relative;
  display: inline-block;
  padding: 9px 30px 4px 80px;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  background-color: #2bca8b;
}
@media (max-width: 482px) {
  .blog--bottom a {
    padding-left: 60px;
  }
}
.blog--bottom a:before {
  content: "";
  position: absolute;
  top: 19px;
  left: 25px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../images/blog--bttom-icon.svg") no-repeat;
  background-size: cover;
}
.blog--bottom a span {
  font-size: 14px;
  line-height: 23px;
}

.access {
  background: url("../images/footer--bg.png") no-repeat;
  background-size: cover;
  padding: 353px 0 150px;
}
.access--body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.access--body__title {
  color: #fff;
  font-size: 52px;
  font-weight: 400px;
  line-height: 49px;
  text-align: center;
}
.access--body__cards {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.access--card {
  padding: 41px;
  max-width: 287px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 7px 7px 40px 0px rgba(0, 0, 0, 0.3019607843);
  background-color: #fff;
  opacity: 0.8;
  transition: 0.5s;
}
.access--card:hover {
  opacity: 1;
  transform: scale(1.2);
}
.access--card:hover .access--card__title {
  color: #2bca8b;
}
.access--card:hover .access--card__link {
  background-color: #f55f39;
}
.access--card__title {
  display: inline-block;
  color: #183eb6;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin-bottom: 24px;
}
.access--card__cost {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  font-size: 55px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
.access--card__cost span {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
.access--card__list {
  margin: 30px 0 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.access--card__item {
  position: relative;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.access--card__item:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: "";
  width: 15px;
  height: 15px;
  background: url("../images/access--true.svg") no-repeat;
  background-size: cover;
  display: inline-block;
}
.access--card__link {
  display: inline-block;
  padding: 12px 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  background-color: #2bca8b;
  margin-bottom: 21px;
}
.access--card__text {
  color: #9da0ac;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.access--footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.access--footer__top {
  max-width: 487px;
}
.access--footer__titlebox {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.access--footer__titlebox svg {
  fill: #fff;
}
.access--footer__title {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.access--footer__text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.access--footer__link {
  display: inline-block;
  width: 111px;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  opacity: 0.8;
  transition: 0.5s;
}
.access--footer__link:hover {
  box-shadow: inset 0 0 5px 12px #fff;
}

.say {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  background-color: #fff;
}
@media (max-width: 750px) {
  .say {
    flex-direction: column;
    align-items: center;
  }
}
.say--top {
  width: 50%;
  transform: translateY(-70px);
  background-color: #fff;
}
@media (max-width: 750px) {
  .say--top {
    width: 100%;
  }
}
.say--top__wrapper {
  max-width: 500px;
  padding: 55px;
  margin-left: auto;
}
.say--top__title {
  color: #444444;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 49px;
}
.say--top__title span {
  color: #2bca8b;
  padding-bottom: 9px;
  border-bottom: 4px solid #2bca8b;
}
.say--girl {
  position: relative;
  background: url("../images/photo_2024-11-22_14-35-44.jpg") no-repeat center;
  background-size: cover;
  max-width: 460px;
  height: 570px;
  box-shadow: 21px 21px 70px 0px rgba(0, 0, 0, 0.2);
}
.say--girl__learn {
  position: absolute;
  bottom: 0;
  left: -50px;
  max-width: 275px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 14px 14px 40px 0px rgba(0, 0, 0, 0.1019607843);
}
.say--girl__title {
  color: #524b9a;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
.say--girl__text {
  margin: 22px 0 18px;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.say--girl__name {
  color: #524b9a;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.say--girl__link {
  position: absolute;
  bottom: 35px;
  right: -10px;
  padding: 12px 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.3019607843);
  background-color: #2bca8b;
}
.say--kind {
  width: 50%;
  background-color: #f0f0f0;
}
@media (max-width: 750px) {
  .say--kind {
    width: 100%;
  }
}
.say--kind__wrapper {
  max-width: 400px;
  padding: 55px;
  margin-right: auto;
}
.say--kind__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 19px;
}
.say--item {
  position: relative;
  padding: 14px 45px 0 0;
  border-top: 1px solid #dadada;
}
.say--item:after {
  content: ">";
  position: absolute;
  right: 0;
  top: 35%;
  font-weight: 200;
  font-size: 40px;
}
.say--item__title {
  color: #524b9a;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
.say--item__text {
  color: #363636;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin: 8px 0 24px;
}
.say--item__link {
  color: #4163ac;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.say--kind__link {
  display: inline-block;
  margin-top: 30px;
  color: #f55f39;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.search {
  background-color: #fff;
  padding: 100px 0;
}
.search--body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 63px;
}
.search--top__title {
  display: inline-block;
  width: 100%;
  color: #444444;
  font-size: 24px;
  font-weight: 400;
  line-height: 49px;
  text-align: center;
}
.search--top__titlebig {
  color: #444444;
  font-size: 52px;
  font-weight: 400;
  line-height: 49px;
  text-align: center;
  margin-bottom: 61px;
}
.search--form {
  max-width: 470px;
}
@media (max-width: 390px) {
  .search--form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 0;
  }
}
.search--form__input {
  padding: 14px 0 15px 68px;
}
.search--form__input:focus {
  box-shadow: inset 255px 0 5px #e6e8ee;
}
.search--form__btn {
  border-radius: 0 3px 3px 0;
  height: 45px;
  padding: 10px 43px;
  background-color: #2bca8b;
  color: #e0e0e0;
  height: 52px;
}
.search--form__btn:hover {
  box-shadow: inset 255px 0 5px #352f77;
}
.search--cards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 26px;
  flex-wrap: wrap;
}
.search--card {
  border: 3px solid #e6e8ee;
}
.search--card__list {
  padding: 30px;
}
.search--card__title {
  color: #252061;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin-bottom: 16px;
}
.search--card__item {
  position: relative;
  padding: 4px 0 4px 30px;
  color: #f55f39;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.search--card__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  width: 18px;
  height: 18px;
  background: url("../images/search--after.svg") no-repeat center;
  background-size: cover;
}
.search--card__link {
  display: inline-block;
  width: 100%;
  padding: 15px 30px;
  background-color: #eef1f6;
  color: #252061;
  font-size: 11px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.footer {
  background: url("../images/footer--bg.png") no-repeat;
  background-size: cover;
  padding: 130px 0 80px;
}
.footer--body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  color: #fff;
}
.footer--body__head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin-bottom: 17px;
}
@media (max-width: 860px) {
  .footer--body__head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 600px) {
  .footer--body__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
.footer--main {
  width: 300px;
}
.footer--main__link svg {
  fill: #fff;
}
.footer--main__text {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  margin-top: 25px;
}
.footer--nav {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  gap: 0;
  width: 50%;
}
@media (max-width: 860px) {
  .footer--nav {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .footer--nav {
    width: 100%;
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 450px) {
  .footer--nav {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 305px) {
  .footer--nav {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(1, 1fr);
    gap: 20px;
  }
}
.footer--nav__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 7px;
}
.footer--nav__link {
  color: #aba8ca;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.footer--nav-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
.footer--bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
  width: 100%;
}
@media (max-width: 450px) {
  .footer--bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}
.footer--bottom__text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
.footer--bottom__text span {
  color: #f55f39;
}