@use "function" as func;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background-color: #1fdb6a;
}

.container {
  $mbpadding: 20;
  max-width: func.container(1440, 170, $mbpadding);
  margin: 0 auto;
  padding: 0 $mbpadding + px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    text-decoration: underline;
    transform: scale(1.1);
  }
}

