@use "common" as com;
@use "function" as func;
@use "mixsin" as mix;
@use "fonts";

$bg--25: #252061;
$bg--white: #fff;
$bg--black: #000;
$bg--ab: #aba8ca;
$bg--f5: #f55f39;
$bg--2b: #2bca8b;
$bg--eo: #e0e0e0;
$bg--44: #444444;
$bg--1f: #1fdb6a;
$bg--52: #524b9a;
$bg--41: #4163ac;
$bg--22: #222222;
$bg--92: #929292;
$bg--9da: #9da0ac;
$bg--01a: #0000001a;
$bg--36: #363636;
$bg--da: #dadada;
$bg--e6: #e6e8ee;
$bg--ee: #eef1f6;
$bg--18: #183eb6;
$bg--4d: #4d4d4d;
$bg--9dd: #d9d9d9;
$bg--35: #352f77;
$bg--96: #969696;
$bg--b8: #b8bdc9;
$bg--f0: #f0f0f0;
$bg--f1: #f1f1f1;
$bg--f1a: #ffffff1a;
$bg--006: #00000066;
$bg--f3: #ffffff33;
$bg--04d: #0000004d;

// ***** header start *****

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 19px 0;
  background-color: $bg--white;
  box-shadow: 1px 1px 3px 0px $bg--01a;
  z-index: 1111;
  transition: 0.5s;
}

.head--body {
  @include mix.flex(row, center, space-between, 0);
  @media (max-width: 1030px) {
    @include mix.flex(column, center, space-around, 50px);
  }
}

.nav--brand {
  @include mix.flex(row, center, space-between, 0);
  width: 55%;
  @media (max-width: 1030px) {
    width: 100%;
  }

  &__humburger {
    position: relative;
    z-index: 3;
    svg {
      fill: $bg--52;
    }
  }
  &__list {
    @include mix.flex(row, center, space-between, 0);
    transition: 1s;
    @media (max-width: 550px) {
      position: fixed;
      left: -150px;
      top: -170px;
      @include mix.flex(column, flex-start, center, 20px);
      margin-top: 5px;
      padding: 30px 50px 20px 50px;
      box-shadow: 0 0 5px 5px $bg--f5;
      border-radius: 5px;
      background-color: transparent;
      backdrop-filter: blur(2px);
      z-index: 2;
      &__active {
        box-shadow: 0 0 5px 5px $bg--f5, inset 0 0 25px 0 $bg--1f;
        transform: translate(156px, 170px) ;
        color: $bg--92 !important;
      }
    }
  }
  &__link {
    @include mix.text($bg--22, 12px, 400, 23px, left);
    padding: 15px 10px;
    &:hover {
      border-bottom: 1px solid $bg--f5;
    }
  }
  a {
    position: relative;
    transform: scale(2.4) translateY(6px);
    @media (max-width: 1030px) {
      transform: scale(1.5) translateX(-10px);
    }
  }
}
.hform {
  @include mix.flex(row, stretch, center, 0);
  max-width: 390px;
  @media (max-width: 390px) {
    @include mix.flex(column, stretch, center, 0);
  }
  &--label {
    position: relative;
    border-radius: 3px 0 0 3px;
    border: 1px solid $bg--9dd;
    svg {
      position: absolute;
      top: 13px;
      left: 11px;
      fill: $bg--9dd;
      width: 20px;
      height: 15px;
    }
  }
  &--input {
    @include mix.outline;
    @include mix.pholder($bg--44);
    padding: 10px 0 11px 40px;
    transition: 0.5s;
    height: 100%;
    &::placeholder {
      @include mix.pholder($bg--eo);
    }
    &:focus {
      @include mix.focus($bg--2b);
    }
  }
  &--button {
    @include mix.button($bg--b8, $bg--eo);
    @include mix.outline;
    transition: 1s;
    &:hover {
      @include mix.focus($bg--25);
    }
  }
}

// ***** hero start *****

.hero {
  background: url("../images/hero--bg.png") no-repeat;
  background-size: cover;
  padding: 245px 0 165px;
  &--body {
    margin-left: 145px;
    max-width: 610px;
    @media (max-width: 720px) {
      margin: 0;
    }
    &__title {
      @include mix.text($bg--44, 49px, 400, 65px, left);
      @media (max-width: 464px) {
        @include mix.text($bg--44, 30px, 400, 55px, left);
      }
      span {
        color: $bg--2b;
        border-bottom: 2px solid $bg--2b;
      }
    }
    &__text {
      @include mix.text($bg--44, 19px, 400, 37px, left);
      margin-bottom: 85px;
    }
    &__links {
      @include mix.flex(row, center, flex-start, 15px);
      @media (max-width: 470px) {
        @include mix.flex(column, center, flex-start, 15px);
      }
    }
    &__link {
      @include mix.flex(column, center, center, 8px);
      @include mix.btn($bg--f5, 8px 25px 1px 30px);
      @include mix.text($bg--white, 23px, 400, 23px, left);
      &:hover {
        box-shadow: inset 0 0 0 2px $bg--white;
      }
      span {
        @include mix.text($bg--white, 14px, 400, 23px, left);
      }
      &:nth-child(2) {
        @include mix.btn($bg--white, 8px 25px 1px 30px);
        color: $bg--4d;
        &:hover {
          box-shadow: inset 0 0 0 2px $bg--f5;
        }
        span {
          color: $bg--4d;
        }
      }
    }
  }
}

// ***** aside start *****

.help {
  position: relative;
  background-color: $bg--white;
  padding: 52px 0 56px;
  &--body {
    @include mix.flex(row, center, flex-start, 70px);
    max-width: 630px;
    @media (max-width: 415px) {
      @include mix.flex(column, center, center, 70px);
    }
    &__title {
      @include mix.text($bg--2b, 28px, 400, 39px, left);
    }
    &__text {
      @include mix.text($bg--25, 15px, 400, 23px, left);
    }
  }
  &--card {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 37px 109px 39px 45px;
    max-width: 500px;
    box-shadow: 7px 7px 50px 0px $bg--006;
    @include mix.back;
    @media (max-width: 485px) {
      padding: 40px;
    }
    @media (max-width: 415px) {
      display: none;
    }
    &__title {
      @include mix.text($bg--white, 24px, 400, 23px, left);
      margin-bottom: 25px;
    }
    &__text {
      @include mix.text($bg--white, 14px, 400, 23px, left);
      margin-bottom: 19px;
    }
    &__bottom {
      position: relative;
      @include mix.flex(row, center, center, 0);
      height: 80px;
    }
    &__image {
      position: absolute;
      top: -30px;
      z-index: 1;
      left: -35px;
      &:nth-child(2) {
        left: 15px;
        top: -18px;
        z-index: 2;
      }
      &:nth-child(3) {
        left: 80px;
        z-index: 1;
      }
    }
    &__link {
      top: 12px;
      left: 184px;
      @include mix.btn($bg--2b, 12px 15px);
      color: $bg--white;
      box-shadow: 6px 6px 13px 0px $bg--006;
    }
  }
}

// ***** blog start *****

.blog {
  background-color: $bg--white;
  &--body {
    @include mix.flex(column, center, center, 60px);
    position: relative;
    padding: 48px 0 547px;
    &__title {
      @include mix.text($bg--44, 52px, 400, 49px, left);
      margin-right: auto;
      max-width: 500px;
      span {
        color: $bg--f5;
        padding-bottom: 8px;
        border-bottom: 4px solid $bg--f5;
      }
    }
    &__bottom {
      position: absolute;
      bottom: -213px;
      width: 100%;
      height: 660px;
      z-index: 2;
      background: url("../images/blog--bottom.png");
      background-position: center;
      box-shadow: 14px 14px 80px 0px $bg--006;
    }
  }
  &--main {
    display: grid;
    grid-template: 1fr / repeat(2, auto);
    gap: 30px;
    @media (max-width: 1030px) {
      grid-template: repeat(2, auto) / 1fr;
      gap: 80px;
    }
    &__cardbig {
      position: relative;
      width: 534px;
      height: 675px;
      background: url("../images/blog--bigcrd.png") no-repeat;
      background-size: cover;
      @media (max-width: 1030px) {
        width: auto;
      }
    }
    &__cards {
      @include mix.flex(column, stretch, center, 30px);
      @media (max-width: 1030px) {
        align-items: center;
      }
    }
  }
  &--cardbig {
    position: absolute;
    bottom: -33px;
    left: 0;
    max-width: 427px;
    padding: 27px 50px 0 0;
    background-color: $bg--white;
    @media (max-width: 420px) {
      width: auto;
    }

    h3 {
      @include mix.text($bg--25, 30px, 400, 38px, left);
      max-width: 314px;
    }
    p {
      @include mix.text($bg--96, 14px, 400, 23px, left);
      margin: 13px 0 15px;
      max-width: 377px;
    }
    &__user {
      @include mix.flex(row, flex-start, flex-start, 10px);
      &name {
        @include mix.flex(column, flex-start, center, 1px);
        span {
          @include mix.text($bg--25, 15px, 400, 23px, left);
        }
      }
    }
  }

  &--smallcard {
    width: 376px;
    height: 240px;
    @media (max-width: 420px) {
      width: 100%;
    }
    &:nth-child(1) {
      background: url("../images/blog--small-crd_1.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(2) {
      position: relative;
      background: url("../images/blog--small-crd_2.png") no-repeat;
      background-size: cover;
    }
    &__in {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-top: 20px;
      width: calc(100% - 75px);
      background-color: $bg--white;
      span {
        @include mix.text($bg--92, 12px, 400, 18px, left);
        margin-left: 17px;
      }
      p {
        max-width: 222px;
        @include mix.text($bg--25, 18px, 400, 23px, left);
      }
    }
    &__bottom {
      @include mix.back;
      padding: 45px 0 40px 60px;
      h3 {
        @include mix.text($bg--white, 28px, 400, 30px, left);
      }
      p {
        margin: 26px 0 19px;
        max-width: 208px;
        @include mix.text($bg--white, 14px, 400, 23px, left);
      }
      a {
        @include mix.text($bg--f5, 14px, 400, 23px, left);
      }
    }
  }
  &--bottom {
    position: absolute;
    bottom: 14px;
    left: 0;
    background-color: $bg--35;
    max-width: 530px;
    padding: 50px;
    @media (max-width: 482px) {
      padding: 20px;
    }
    h2 {
      @include mix.text($bg--white, 44px, 400, 60px, left);
      @media (max-width: 482px) {
        @include mix.text($bg--white, 30px, 400, 40px, left);
      }
    }
    p {
      margin: 22px 0 55px;
      @include mix.text($bg--white, 15px, 400, 23px, left);
    }
    a {
      position: relative;
      display: inline-block;
      padding: 9px 30px 4px 80px;
      @include mix.text($bg--white, 23px, 400, 23px, left);
      background-color: $bg--2b;
      @media (max-width: 482px) {
        padding-left: 60px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 19px;
        left: 25px;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("../images/blog--bttom-icon.svg") no-repeat;
        background-size: cover;
      }
      span {
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
}

// ***** access start *****

.access {
  @include mix.back;
  padding: 353px 0 150px;
  &--body {
    @include mix.flex(column, center, center, 80px);
    &__title {
      @include mix.text($bg--white, 52px, 400px, 49px, center);
    }
    &__cards {
      width: 90%;
      @include mix.flex(row, center, center, 40px);
      flex-wrap: wrap;
    }
  }
  &--card {
    padding: 41px;
    max-width: 287px;
    border: 1px solid $bg--f3;
    box-shadow: 7px 7px 40px 0px $bg--04d;
    background-color: $bg--white;
    opacity: 0.8;
    transition: 0.5s;
    &:hover {
      opacity: 1;
      transform: scale(1.2);
      .access--card__title {
        color: $bg--2b;
      }
      .access--card__link {
        background-color: $bg--f5;
      }
    }
    &__title {
      display: inline-block;
      @include mix.text($bg--18, 15px, 400, 23px, left);
      margin-bottom: 24px;
    }
    &__cost {
      display: flex;
      align-items: center;
      gap: 5px;
      @include mix.text($bg--black, 55px, 400, 34px, left);
      span {
        @include mix.text($bg--black, 14px, 400, 34px, left);
      }
    }
    &__list {
      margin: 30px 0 30px 30px;
      @include mix.flex(column, flex-start, flex-start, 10px);
    }
    &__item {
      position: relative;
      @include mix.text($bg--black, 13px, 400, 20px, left);
      &:before {
        position: absolute;
        top: 0;
        left: -30px;
        content: "";
        width: 15px;
        height: 15px;
        background: url("../images/access--true.svg") no-repeat;
        background-size: cover;
        display: inline-block;
      }
    }
    &__link {
      display: inline-block;
      padding: 12px 25px;
      @include mix.text($bg--white, 14px, 400, 23px, left);
      background-color: $bg--2b;
      margin-bottom: 21px;
    }
    &__text {
      @include mix.text($bg--9da, 11px, 400, 19px, left);
    }
  }
  &--footer {
    width: 100%;
    @include mix.flex(row, center, space-around, 20px);
    &__top {
      max-width: 487px;
    }
    &__titlebox {
      margin-bottom: 16px;
      @include mix.flex(row, center, flex-start, 10px);
      svg {
        fill: $bg--white;
      }
    }
    &__title {
      @include mix.text($bg--white, 21px, 400, 23px, left);
    }
    &__text {
      @include mix.text($bg--white, 13px, 400, 21px, left);
    }
    &__link {
      display: inline-block;
      width: 111px;
      padding: 15px 20px;
      @include mix.text($bg--white, 14px, 400, 23px, center);
      opacity: 0.8;
      transition: 0.5s;
      &:hover {
        box-shadow: inset 0 0 5px 12px $bg--white;
      }
    }
  }
}

// ***** say start *****

.say {
  @include mix.flex(row, flex-start, center, 0);
  background-color: $bg--white;
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
  }
  &--top {
    width: 50%;
    transform: translateY(-70px);
    background-color: $bg--white;
    @media (max-width: 750px) {
      width: 100%;
    }
    &__wrapper {
      max-width: 500px;
      padding: 55px;
      margin-left: auto;
    }
    &__title {
      @include mix.text($bg--44, 28px, 400, 30px, left);
      margin-bottom: 49px;
      span {
        color: $bg--2b;
        padding-bottom: 9px;
        border-bottom: 4px solid $bg--2b;
      }
    }
  }
  &--girl {
    position: relative;
    background: url("../images/photo_2024-11-22_14-35-44.jpg") no-repeat center;
    background-size: cover;
    max-width: 460px;
    height: 570px;
    box-shadow: 21px 21px 70px 0px #00000033;
    &__learn {
      position: absolute;
      bottom: 0;
      left: -50px;
      max-width: 275px;
      padding: 30px;
      background-color: $bg--white;
      box-shadow: 14px 14px 40px 0px #0000001a;
    }
    &__title {
      @include mix.text($bg--52, 18px, 400, 25px, left);
    }
    &__text {
      margin: 22px 0 18px;
      @include mix.text($bg--black, 13px, 400, 23px, left);
    }
    &__name {
      @include mix.text($bg--52, 13px, 400, 23px, left);
    }
    &__link {
      position: absolute;
      bottom: 35px;
      right: -10px;
      padding: 12px 25px;
      @include mix.text($bg--white, 15px, 400, 23px, left);
      box-shadow: 7px 7px 20px 0px $bg--04d;
      background-color: $bg--2b;
    }
  }
  &--kind {
    width: 50%;
    background-color: $bg--f0;
    @media (max-width: 750px) {
      width: 100%;
    }
    &__wrapper {
      max-width: 400px;
      padding: 55px;
      margin-right: auto;
    }
    &__list {
      @include mix.flex(column, stretch, flex-start, 19px);
    }
  }
  &--item {
    position: relative;
    padding: 14px 45px 0 0;
    border-top: 1px solid $bg--da;
    &:after {
      content: ">";
      position: absolute;
      right: 0;
      top: 35%;
      font-weight: 200;
      font-size: 40px;
    }
    &__title {
      @include mix.text($bg--52, 20px, 400, 25px, left);
    }
    &__text {
      @include mix.text($bg--36, 15px, 400, 23px, left);
      margin: 8px 0 24px;
    }
    &__link {
      @include mix.text($bg--41, 14px, 400, 23px, left);
    }
  }
  &--kind__link {
    display: inline-block;
    margin-top: 30px;
    @include mix.text($bg--f5, 15px, 400, 23px, left);
  }
}

// ***** search start *****

.search {
  background-color: $bg--white;
  padding: 100px 0;
  &--body {
    width: 100%;
    @include mix.flex(column, center, center, 63px);
  }
  &--top {
    &__title {
      display: inline-block;
      width: 100%;
      @include mix.text($bg--44, 24px, 400, 49px, center);
      &big {
        @include mix.text($bg--44, 52px, 400, 49px, center);
        margin-bottom: 61px;
      }
    }
  }
  &--form {
    max-width: 470px;

    @media (max-width: 390px) {
      @include mix.flex(column, stretch, center, 0);
    }
    &__input {
      padding: 14px 0 15px 68px;
      &:focus {
        @include mix.focus($bg--e6);
      }
    }
    &__btn {
      @include mix.button($bg--2b, $bg--eo);
      height: 52px;
      &:hover {
        @include mix.focus($bg--35);
      }
    }
  }
  &--cards {
    @include mix.flex(row, stretch, center, 26px);
    flex-wrap: wrap;
  }
  &--card {
    border: 3px solid $bg--e6;
    &__list {
      padding: 30px;
    }
    &__title {
      @include mix.text($bg--25, 17px, 400, 23px, left);
      margin-bottom: 16px;
    }
    &__item {
      position: relative;
      padding: 4px 0 4px 30px;
      @include mix.text($bg--f5, 12px, 400, 23px, left);
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 15%;
        width: 18px;
        height: 18px;
        background: url("../images/search--after.svg") no-repeat center;
        background-size: cover;
      }
    }
    &__link {
      display: inline-block;
      width: 100%;
      padding: 15px 30px;
      background-color: $bg--ee;
      @include mix.text($bg--25, 11px, 400, 23px, left);
    }
  }
}

// ***** footer start *****

.footer {
  @include mix.back;
  padding: 130px 0 80px;
  &--body {
    @include mix.flex(column, flex-start, center, 30px);
    color: $bg--white;
    &__head {
      width: 100%;
      @include mix.flex(row, center, space-between, 0);
      margin-bottom: 17px;
      @media (max-width: 860px) {
        @include mix.flex(row, flex-start, space-between, 0);
      }
      @media (max-width: 600px) {
        @include mix.flex(column, center, center, 50px);
      }
    }
  }
  &--main {
    width: 300px;
    &__link {
      svg {
        fill: $bg--white;
      }
    }
    &__text {
      @include mix.text($bg--white, 15px, 400, 25px, left);
      margin-top: 25px;
    }
  }
  &--nav {
    @include mix.grid(1, 3, 0);
    width: 50%;
    @media (max-width: 860px) {
      @include mix.grid(2, 2, 20px);
    }
    @media (max-width: 600px) {
      width: 100%;
      @include mix.grid(1, 3, 20px);
    }
    @media (max-width: 450px) {
      @include mix.grid(2, 2, 20px);
    }
    @media (max-width: 305px) {
      @include mix.grid(3, 1, 20px);
    }

    &__list {
      @include mix.flex(column, stretch, center, 7px);
    }
    &__link {
      @include mix.text($bg--ab, 14px, 400, 21px, left);
    }
    &-title {
      @include mix.text($bg--white, 18px, 400, 25px, left);
    }
  }
  &--bottom {
    @include mix.flex(row, center, flex-start, 10px);
    padding: 30px 0;
    border-top: 1px solid $bg--f1a;
    width: 100%;
    @media (max-width: 450px) {
      @include mix.flex(column, center, flex-start, 10px);
    }
    &__text {
      @include mix.text($bg--white, 12px, 400, 25px, left);
      span {
        color: $bg--f5;
      }
    }
  }
}
